<%- include('partials/header.ejs'); -%>
    </head>

    <body>
        <div class="centered">
            <br>
            <img src="https://media.tenor.com/LqgkL31-7gAAAAAC/stare-awkward.gif" alt="Sorry" />
            <h1>Something wrong occurred :/</h1>
            <p>We will make our best to fix this, feel free to contact us on <a href="mailto:eslam.01212@gmail.com">this
                    email</a></p>
        </div>
    </body>
    <%- include('partials/footer.ejs'); -%>